{{#refs}}
import { {{type}} } from "./{{type}}"
{{/refs}}

{{#isUnion}}
export type {{&name}} = {{&unionType}};
{{/isUnion}}
{{^isUnion}}
export interface {{&name}} {
{{#properties}}
	{{#isArray}}
		{{name}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/properties}}

{{#refs}}
	{{#isArray}}
		{{name}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
}
{{/isUnion}}